@use 'src/breakpoints' as *;

:host {
  margin: auto;
  width: 300px;
  height: max-content;

  & .login-form {
    max-width: 300px;
  }

  & .login-form-input {
    height: 3rem;

    @include lg {
        height: unset;
    }
  }

  & .login-form-margin {
    margin-bottom: 16px;
  }

  & .login-form-forgot {
    float: right;
  }

  & .login-form-button {
    width: 100%;
    height: 3rem;

    @include lg {
        height: unset;
    }
  }
}
