<header class="p-3 bg-dark text-white" style="width: 3440px;">
  <div class="container1">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search...">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>
<body style="background-color: darkgray;width:3440px; height:100vh;">
<div class="container" style="background-image:url('../../../assets/img/images.png') ; width: 3440px; height: 1440px;">
<p><br><br></p>

<h1><span>P</span><span>R</span><span>O</span><span>Y</span><span>E</span><span>C</span><span>T</span><span>O</span><span></span><span> </span><span>P</span><span>R</span><span>O</span><span>G</span><span>R</span><span>A</span><span>M</span><span>A</span><span>C</span><span>I</span><span>Ó</span><span>N</span></h1>
<h1><span>Tabla &nbsp;</span> <span>Clientes</span></h1>
<h2>Creado por  <a href="https://github.com/jsamperevazquez/" target="_blank">Jose Ángel Sampere</a><a>&nbsp;&nbsp;&nbsp;</a>  <a href="https://github.com/daaviidm10" target="_blank">David Mariño</a></h2>

<table class="container">
  <thead>

    <tr>
      <th>
        <h1>DNI</h1>
      </th>
      <th>
        <h1>NOMBRE</h1>
      </th>
      <th>
        <h1>APELLIDOS</h1>
      </th>
      <th>
        <h1>DIRECCIÓN</h1>
      </th>
      <th>
        <h1>NUMERO CLIENTE</h1>
      </th>
      <th>
        <h1>EDITAR CLIENTE</h1>
      </th>
      <th>
        <h1>ELIMINAR CLIENTE</h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let cliente of clientes'>
      <th scope="row">{{cliente.dni}}</th>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.apellido}}</td>
      <td>{{cliente.direccion}}</td>
      <td>{{cliente.num_cliente}}</td>
      <td><button type="button" name="button" class="btn btn-primary" [routerLink]="['/clientes/form', cliente.dni]">EDITAR</button></td>
      <td><button class="btn btn-danger" (click)="delete(cliente)">ELIMINAR</button></td>
    </tr>

  </tbody>

<button class="btn btn-info" type="button" [routerLink]="['/clientes/form']">Nuevo Cliente</button>
</table>


