<nz-layout>
  <nz-header>
    <div class="logo">P</div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzSelected (click)="hndHeaderLinkClick(0)">Clientes</li>
      <li nz-menu-item (click)="hndHeaderLinkClick(1)">Productos</li>
      <li nz-menu-item (click)="hndHeaderLinkClick(2)">Proveedores</li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
        <!-- clientes -->
        <ng-container *ngIf="pageIndex === 0">
            <nz-table #basicTable [nzData]="clients">
                <thead>
                  <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Nº Cliente</th>
                    <th [nzAlign]="'center'"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.dni }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.apellidos }}</td>
                    <td>{{ data.direccion }}</td>
                    <td>{{ data.numeroCliente }}</td>
                    <td [nzAlign]="'center'">
                      <i nz-icon nzType="edit" nzTheme="outline"></i>
                      <nz-divider nzType="vertical"></nz-divider>
                      <i nz-icon nzType="delete" nzTheme="outline"></i>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
        </ng-container>
        <!-- productos -->
        <ng-container *ngIf="pageIndex === 1">
            <nz-table #basicTable [nzData]="products">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.codigo }}</td>
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.precio }}</td>
                    <td [nzAlign]="'center'">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                      </td>
                  </tr>
                </tbody>
              </nz-table>
        </ng-container>
        <!-- proveedores -->
        <ng-container *ngIf="pageIndex === 2">
            <nz-table #basicTable [nzData]="providers">
                <thead>
                  <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Nº Cliente</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of basicTable.data">

                  </tr>
                </tbody>
              </nz-table>
        </ng-container>
    </div>
  </nz-content>
  <nz-footer>Samairsolutions ©2022</nz-footer>
</nz-layout>
